<!-- component template -->
<script type="text/x-template" id="tableGridTemplate">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th v-for="item in columns" v-on:click="sortBy">
                    <span class="float-right"><i class="fa fa-sort"></i></span>
                    {{item}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in data">
                <td>
                    {{item.title}}
                </td>
                <td>
                    ￥{{item.price}}
                </td>
                <td>
                    {{item.like}}
                </td>
            </tr>
        </tbody>
    </table>
</script>
