/**
 * Star Rating CSS
 *
 */

.star-rating {
    text-align: center;
}
.star-rating .star-icon {
    display: inline-block;
    margin-right: 5px;
    font-style: normal;
}
.star-rating-star {
    position: relative;
    display: inline-block;

    margin-bottom: 0;

    color: #999;
    font-size: 26px;
    cursor: pointer;

    transition: color .2s ease-out;
}

.star-rating-star.selected {
    color: #ff6600;
}

.star-rating-star.disabled:hover {
    color: #999;
    cursor: default;
}

.star-rating-star .star-rating-check {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
}
/*.star-rating-star .star-rating-check:checked + i {
    color: #ff6600;
}*/
