<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>tree view</title>
    <link rel="stylesheet" href="../node_modules/bootstrap4/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./tree-view.css">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <a href="../index.html" class="float-left mr-4" title="返回"><i class="zmdi zmdi-arrow-left zmdi-hc-2x"></i></a>
            <h3>Tree View</h3>
        </div>
    </div>
    <div class="container">

        <div class="card">
            <div class="card-block">

                <!-- component template -->
                <script type="text/x-template" id="treeViewTemplate">
                    <li>
                        <a href="javascript:void(0);" class="tree-label"
                            v-bind:class="[open ? 'open' : '']"
                            v-on:click="toggle">

                            <span class="tree-icon" v-if="isFolder">
                                <i class="fa" v-bind:class="[open ? 'fa-folder-open' : 'fa-folder']"></i>
                            </span>
                            <span class="tree-icon" v-else>
                                <i class="fa fa-file-o"></i>
                            </span>

                            {{model.name}}
                        </a>
                        <ul class="tree-children" v-show="open" v-if="isFolder">
                            <tree-view
                                class="treeitem"
                                v-for="item in model.children"
                                :model="item">
                            </tree-view>
                        </ul>
                    </li>
                </script>

                <ul class="tree-view" id="treeView">
                    <template v-for="treeItem in treeData">
                        <tree-view :model="treeItem"></tree-view>
                    </template>
                </ul>

            </div>
        </div> <!-- / .card End -->
    </div>

    <script type="text/javascript" src="../node_modules/vue/vue.js"></script>
    <script type="text/javascript" src="./tree-view.js"></script>
</body>

</html>
