/**
 * Tree View CSS
 *
 */


ul.tree-view,
ul.tree-view ul {
    margin: 0;
    padding: 0;

    list-style: none;
}
.tree-view a {
    color: #333;
    text-decoration: none;
}
.tree-view a:hover,
.tree-view .tree-label.open {
    color: #0275d8;
}

.tree-icon {
    display: inline-block;
    margin-right: 3px;
    vertical-align: -2px;
    width: 16px;
    height: 16px;
    overflow: hidden;

    text-align: center;
    line-height: 16px;
}
.tree-icon i {
    font-size: 14px;
}
.tree-view .tree-children {
    padding-left: 20px;
}

.tree-view .tree-label {
    line-height: 24px;
}
