<!-- component template -->
<script type="text/x-template" id="treeViewTemplate">
    <li>
        <a href="javascript:void(0);" class="tree-label"
            v-bind:class="[open ? 'open' : '']"
            v-on:click="toggle">

            <span class="tree-icon" v-if="isFolder">
                <i class="fa" v-bind:class="[open ? 'fa-folder-open' : 'fa-folder']"></i>
            </span>
            <span class="tree-icon" v-else>
                <i class="fa fa-file-o"></i>
            </span>

            {{model.name}}
        </a>
        <ul class="tree-children" v-show="open" v-if="isFolder">
            <item class="treeitem"
                v-for="model in model.children"
                :model="model">
            </item>
        </ul>
    </li>
</script>
